<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Tracker</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="app">{{html|safe}}</div>

    <script>
      window.INITIAL_STATE = {{initialState|safe}};
    </script>

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/bootstrap.js"></script>
    <script src="/js/{{jsBundleName}}"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>
